*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
background-image: url('./assets/CaiosBG2.png');

    
}

.head{
    max-width: 480px;
    border: 2px solid black;
    margin: auto;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;

    font-family: 'Press Start 2P', cursive;
    
 
    color: black;
    border-radius: 6px;
    box-shadow: 3px 4px 13px -3px rgba(0,0,0,0.66);

    background: rgba(255,255,255,0.75);
    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px);
    border: 1px solid rgba(255,255,255,0.375);
}

.score{
    margin-top: 20px;
    font-size: 12px;;
    text-align: center;
    
}



.container{
    max-width: 960px;
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 1rem;
    margin: auto;
    padding: 20px;
    
}

.cell div{
    height: 130px;
    border-radius: 8px;
    
}

.cell{
    position: relative;
    cursor: pointer;
    box-shadow: 3px 4px 13px -3px rgba(0,0,0,0.66);
    }

    .cell:hover{
        transform: scale(1.05);
    }

.front{
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    background-color: #FFF;
    transform: rotateY(90deg);
}

.back{
    background-image: url(./assets/paper.png);
}

img{
    height: 110px;
    width: 180px;
}

.flip{
    transform: rotate(0deg);
}

.match{
    transform: rotateY(0deg);
    border: 5px solid green;
    background-color: rgba(0, 128, 0, 0.952);
    transition: background-color 3s;
    
}

.show{
    transform: rotateY(0deg);
}

.teste{
    background-image: url('./assets/cool-background.png') !important;
    background-size: center;
}

footer{
    background: rgba(255,255,255,0.75);
    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px);
    border: 1px solid rgba(255,255,255,0.375);

    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;

   }

footer h4{
    font-family: 'Press Start 2P', cursive;
    font-size: 10px;
    margin: 10px 0;
    color: black;
   }

footer a{
    text-decoration: none;
    color: black;
}
footer a:hover{
    text-decoration: underline;
    color: rgb(0, 134, 139);
}

